<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body style="background-color: black;color: white">
        <h1>Hello @Model.VisitorName</h1>
        <p>
            <b>Number of Greetings: </b>@Model.GreetCount
        </p>
    </body>
</html>