<html>
    <head>
        <title>DemoApp</title>
    </head>
    <body>
        <h1>Register Your Visit</h1>
        <form method="post">
            <p>
                <b>Your Name: </b>
                <input type="text" name="visitorId"/>
            </p>
            <p>
                <b>Experience: </b>
                <select name="visitorRating">
                    <option value="5">Fantastic</option>
                    <option value="4">Fine</option>
                    <option value="3">Average</option>
                    <option value="2">Poor</option>
                    <option value="1">Pathetic</option>
                </select>
            </p>
            <p>
                <input type="submit" value="Submit"/>
            </p>
        </form>
        <a href="/Home/Index">Our Visitors</a>
    </body>
</html>
